packages:
  yum:
    gcc: []
    gcc-c++: []
    cmake3: []
    make: []
    libX11-devel: []
    libXext-devel: []
    libXrender-devel: []
    atlas-devel: []
    blas-devel: []
    lapack-devel: []
    libpng-devel: []
    libjpeg-devel: []
    freetype-devel: []
    zlib-devel: []
    openblas-devel: []
    python3-devel: []
