option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /media: media
files:
  "/etc/nginx/conf.d/00_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name _;
          return 301 https://$host$request_uri;
      }
